
{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
                <div class = "col-8">
                    <article class = "card mb-3 border-0">
                        <div class="row g-0">
                            <div class = "col-2 me-4 mt-3">
                                <div class="border mb-3" style = "height: 150px; width: 150px;">
                                    <img src="{% static 'avatar.jpg' %}" class="img-fluid rounded-start" >
                                </div>
                                <div class = "input-group flex-nowrap w-50">
                                    <input type="number" value="{{question.rating}}" class="form-control" />
                                </div>
                            </div>
                            <div class = "col">
                                <div class="card-body">
                                    <h3 class = "card-title">
                                        {{question.title}}
                                    </h3>
                                    <p class="card-text">{{question.text}}</p>
                                </div>
                                <div class = "row p-3 mt-2">
                                     <div class = "col-8">
                                         <span>Tags: </span>
                                         {% for tag in question.tag.all %}
                                            <a href = "{% url "tag" tag%}">{{tag}}</a>
                                         {% endfor%}
                                     </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <h3>Answers:</h3>

                    {% if answers %}
                        {% for answer in answers %}
                            {% include "layouts/answer.html" with item=answer %}
                        {% endfor %}

                        {% include "layouts/pagination.html" with page_obj=answers %}
                    {% else %}
                        No answers yet
                    {% endif %}
                </div>
{% endblock %}
