{% extends "layouts/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row">
    <h1>Settings: {{form.username.value}} </h1>
    <div class="col-8 mt-3">
        <form style="margin-bottom: 50px;" method = "post" action = "{% url "settings" %}">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <hr width="640px">
                    <button type="submit" class="btn btn-outline-primary mt-2 w-25">Save</button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}