{% load static %}
<article class = "card mb-3 border border-5 {% if item.status == 'm' %} border-success {% endif %}">
    <div class="row g-0">
        <div class = "col-2 p-3">
            <div class="border w-100 mb-3" style="height: 100px; width: 100px;">
                <img src="img.jpg" class="img-fluid rounded-start" >
            </div>
            <div class="answer-like-control input-group flex-nowrap" data-answer-id="{{ item.id }}">
                <button class="like-btn btn btn-outline-success btn-sm">Like</button>
                <span class="form-control like-counter" style="white-space: nowrap; text-align: center;">{{ item.rating }}</span>
                <button class="dislike-btn btn btn-outline-danger btn-sm">Dislike</button>
            </div>
        </div>
        <div class = "col">
            <div class="card-body">
                <p class="card-text">{{ item.text}}</p>
            </div>
            <div class = "row p-3 mt-2">
                <div class="form-check">
                    <input class="correct-answer-checkbox form-check-input" data-answer-id="{{ item.id }}" type="checkbox" {% if item.status == 'm' %} checked {% endif %}>
                    <label class="form-check-label" for="flexCheckChecked">
                        Marked by the author as the correct answer
                    </label>
                  </div>
            </div>
        </div>
    </div>
</article>