{% load static %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "index" %}">
            <img src="{% static 'avatar.jpg' %}" width="30" height="30" class="d-inline-block align-text-top">
            AskMe
          </a>
      <form class="d-flex" role="search" action = "{% url "ask" %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">ASK</button>
      </form>
      {% if user.is_authenticated %}
        <div class = "d-flex justify-content-between gap-3"> 
          <div>
              <img src="{{ user.user_profile.avatar.url }}" width = "50" height = "50">
          </div>
          <div class = "d-flex flex-column justify-content-between"> 
              <div>{{ user.username }}</div>
              <div>
                  {% csrf_token %}
                  <a href = "{% url "settings" %}">Settings</a>
                  <a href = "{% url "logout" %}?next={{ request.path }}">Log out</a>
              </div>
          </div>
        </div>
      {% else %}
        <div class = "d-flex justify-content-between gap-3"> 
              <a href = "{% url "login" %}">Log in</a>
              <a href = "{% url "signup" %}">Register</a>
        </div>
      {% endif %}
    </div>
    </div>
  </nav>